Repository heitorlisboa/aluracord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,css,scss,md}": "prettier --write"
}

chore: configure commitizen
  package.json
  yarn.lock
Due: none

chore: add license
  COPYING
  package.json
Due: none

style: change import ordering and add path mapping
  .eslintrc.json
  package.json
  src/components/Alert/index.tsx
  src/components/Navigations/ServerInsideNav/Channel/index.tsx
  src/components/Navigations/ServerInsideNav/ChannelList/index.tsx
  src/components/Navigations/ServerInsideNav/index.tsx
  src/components/Navigations/ServerList/ServerButton/index.tsx
  src/components/Navigations/ServerList/index.tsx
  src/components/Navigations/index.tsx
  src/components/ProfileCard/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/ServerChat/MessageInput/index.tsx
  src/components/ServerChat/index.tsx
  src/components/ServerHeader/index.tsx
  src/components/UserList/UserCard/index.tsx
  src/components/UserList/index.tsx
  src/lib/MobileContext.ts
  src/lib/OutsideListener.ts
  src/lib/Profile.ts
  src/lib/ProfileContext.ts
  src/lib/Store.ts
  src/lib/UserContext.ts
  src/lib/addAlert.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/chat.tsx
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add typescript-eslint and change some eslint rules
  .eslintrc.json
  package.json
  yarn.lock
Due: none

refactor: change functions and types patterns
  src/components/Alert/index.tsx
  src/components/Navigations/ServerInsideNav/Channel/index.tsx
  src/components/Navigations/ServerInsideNav/ChannelList/index.tsx
  src/components/Navigations/ServerInsideNav/index.tsx
  src/components/Navigations/ServerList/ServerButton/index.tsx
  src/components/Navigations/ServerList/index.tsx
  src/components/Navigations/index.tsx
  src/components/ProfileCard/index.tsx
  src/components/ServerChat/LoadingMessage/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/ServerChat/MessageInput/index.tsx
  src/components/ServerChat/index.tsx
  src/components/ServerHeader/index.tsx
  src/components/UserList/UserCard/index.tsx
  src/components/UserList/index.tsx
  src/lib/MobileContext.ts
  src/lib/OutsideListener.ts
  src/lib/Profile.ts
  src/lib/ProfileContext.ts
  src/lib/Store.ts
  src/lib/UserContext.ts
  src/lib/addAlert.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/chat.tsx
  src/pages/index.tsx
  src/types/index.ts
  src/utils/isInList.ts
  src/utils/linkToHTMLAnchor.tsx
  src/utils/temporaryFocus.ts
  src/validators/validateInput.ts
Due: eslint --fix, prettier --write

feat: add lang attribute to html
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

chore: change some names to more declarative ones
  public/icons/close-icon.svg
  public/icons/delete-icon.svg
  public/icons/github-icon.svg
  public/icons/loading.svg
  public/icons/menu-icon.svg
  public/icons/people-icon.svg
  public/icons/twitter-icon.svg
  public/icons/web-icon.svg
  public/img/default-user-image.jpg
  src/components/Navigations/ServerList/index.tsx
  src/components/ProfileCard/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/ServerHeader/ServerHeader.module.scss
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: remove an undesired character
  src/components/Navigations/ServerList/index.tsx
Due: eslint --fix, prettier --write

fix: fix a bug where multiples of the same link would break the function that renders anchors
  src/utils/linkToHTMLAnchor.tsx
Due: eslint --fix, prettier --write

chore: move function to a more appropriate folder
  src/utils/validateInput.ts
Due: eslint --fix, prettier --write

refactor: change alert system to use react-toastify
  package.json
  src/components/Alert/Alert.module.scss
  src/components/Alert/index.tsx
  src/lib/addAlert.ts
  src/pages/index.tsx
  src/styles/global.scss
  src/types/index.ts
  src/utils/isInList.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: update reset.css
  src/styles/reset.css
Due: prettier --write

refactor: remove unnecessary media queries
  src/components/Navigations/Navigations.module.scss
  src/components/UserList/UserList.module.scss
  src/styles/pages/Chat.module.scss
Due: prettier --write

refactor: remove 'gaps' sass partial
  src/components/Navigations/ServerInsideNav/Channel/Channel.module.scss
  src/components/Navigations/ServerInsideNav/ChannelList/ChannelList.module.scss
  src/components/ProfileCard/ProfileCard.module.scss
  src/components/ServerChat/LoadingMessage/LoadingMessage.module.scss
  src/components/ServerChat/Message/Message.module.scss
  src/components/ServerChat/MessageInput/MessageInput.module.scss
  src/components/ServerChat/ServerChat.module.scss
  src/components/ServerHeader/ServerHeader.module.scss
  src/components/UserList/UserCard/UserCard.module.scss
  src/components/UserList/UserList.module.scss
  src/styles/global.scss
  src/styles/pages/Chat.module.scss
  src/styles/pages/Home.module.scss
  src/styles/partials/_gaps.scss
  src/styles/partials/_placeholder-selectors.scss
Due: prettier --write

refactor: replace screen breakpoints with a custom `@media` mixin
  src/components/Navigations/Navigations.module.scss
  src/components/ServerHeader/ServerHeader.module.scss
  src/components/UserList/UserList.module.scss
  src/styles/pages/Chat.module.scss
  src/styles/partials/_custom-media.scss
  src/styles/partials/_screen-breakpoints.scss
Due: prettier --write

refactor: remove unused colors and change hex colors to hsl
  src/styles/partials/_colors.scss
Due: prettier --write

refactor: remove unnecessary states
  src/components/Navigations/ServerInsideNav/index.tsx
  src/components/Navigations/index.tsx
  src/pages/chat.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

chore: update meta description
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

refactor: move all context related types to their respective context file
  src/components/ProfileCard/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/ServerChat/MessageInput/index.tsx
  src/components/UserList/UserCard/index.tsx
  src/lib/MobileContext.ts
  src/lib/Profile.ts
  src/lib/ProfileContext.ts
  src/lib/UserContext.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

chore: update eslint rules
  .eslintrc.json
Due: none

refactor: remove unsupported aria attribute
  src/components/ServerChat/Message/index.tsx
Due: eslint --fix, prettier --write

refactor: turn user avatar on message aria hidden
  src/components/ServerChat/Message/index.tsx
Due: eslint --fix, prettier --write

chore: update `caniuse-lite`
  yarn.lock
Due: none

refactor: replace media queries with `custom-media` mixin
  src/styles/pages/Home.module.scss
Due: prettier --write

refactor: update mixin error messages
  src/styles/partials/_custom-media.scss
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

style: update eslint rules and format accordingly
  .eslintrc.json
  src/components/ProfileCard/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/UserList/index.tsx
  src/lib/Profile.ts
Due: eslint --fix, prettier --write

refactor: refactor store to work with the latest supabase api
  src/lib/Store.ts
Due: eslint --fix, prettier --write

refactor: refactor how profile dialog works
  next.config.js
  package.json
  public/icons/loading.svg
  src/components/ProfileCard/ProfileCard.module.scss
  src/components/ProfileCard/index.tsx
  src/components/ProfileDialog/ProfileDialog.module.scss
  src/components/ProfileDialog/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/UserList/UserCard/index.tsx
  src/lib/Profile.ts
  src/lib/ProfileContext.ts
  src/pages/_app.tsx
  src/pages/chat.tsx
  src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: remove unnecessary type definition
  src/lib/MobileContext.ts
Due: eslint --fix, prettier --write

fix: add missing key prop
  src/utils/linkToHTMLAnchor.tsx
Due: eslint --fix, prettier --write

refactor: resolve exhaustive deps warning
  src/components/ServerChat/index.tsx
Due: eslint --fix, prettier --write

chore: add eslint plugin for tanstack query
  .eslintrc.json
  package.json
  yarn.lock
Due: none

refactor: change how chat scroll side effect is triggered
  src/components/ServerChat/index.tsx
Due: eslint --fix, prettier --write

refactor: refactor store to use tanstack query
  src/lib/Store.ts
Due: eslint --fix, prettier --write

refactor: change some html elements
  src/components/Navigations/ServerInsideNav/ChannelList/ChannelList.module.scss
  src/components/Navigations/ServerInsideNav/ChannelList/index.tsx
  src/components/ServerChat/Message/index.tsx
  src/components/ServerChat/index.tsx
  src/components/ServerHeader/index.tsx
Due: eslint --fix, prettier --write

fix: add missing alt prop for img element
  src/pages/index.tsx
Due: eslint --fix, prettier --write

improvement: apply hover styles on focus
  src/components/Navigations/ServerInsideNav/Channel/Channel.module.scss
  src/components/Navigations/ServerInsideNav/ChannelList/ChannelList.module.scss
  src/components/Navigations/ServerList/ServerButton/ServerButton.module.scss
  src/components/ServerChat/Message/Message.module.scss
  src/components/ServerChat/Message/index.tsx
  src/components/UserList/UserCard/UserCard.module.scss
Due: eslint --fix, prettier --write

refactor: remove some unnecessary html attributes
  src/components/Navigations/ServerInsideNav/ChannelList/ChannelList.module.scss
  src/components/Navigations/ServerInsideNav/ChannelList/index.tsx
  src/components/ServerChat/Message/index.tsx
Due: eslint --fix, prettier --write
